# Install PyTorch 0.4.0 from http://pytorch.org/

# Setup.py Install
-e .

# Style-checking for PEP8
flake8

# Unit test
pytest
pytest-pythonpath

# Code coverage
pytest-cov
codecov
coverage

# Mocking
mock

# Release to PyPi
wheel
